@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
h3,

h5 {
  font-family: "Copernicus", "Libre Baskerville", Georgia, serif;
  font-weight: 600;
}
h2, 
h4,span,
button {
  font-family: "Copernicus", "Libre Baskerville", Georgia, serif;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-family: "Proxima Nova", Montserrat, Arial, sans-serif;
}
